<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoon.spring_legacy_study.mappers.BoardMapper">
	<select id="getList" resultType="BoardEntity">
	    select * from tbl_board where bno > 0
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="bno" keyColumn="bno" >
		insert into tbl_board (title, content, writer)
		values (#{title}, #{content}, #{writer})
	</insert>

	<select id="select" resultType="BoardEntity">
		select * from tbl_board where bno = #{bno}
	</select>

	<update id="update">
		update tbl_board set title = #{title}, content = #{content}, updateDate = now() where bno = #{bno}
	</update>
</mapper>